= content_for :page_title, 'Red México Abierto: Inicio'
%div.inicio
  %div.overlay-photo
  %div.container#actualizaciones
    =# link_to 'Recibe actualizaciones','#'
  = render 'layouts/header'
  %div.container.texto-inicio
    %div.col-md-12
      %h3.center-text
        La Red México Abierto impulsa la colaboración nacional para compartir
        %br
        herramientas y experiencias que faciliten la publicación
        y uso de Datos en
        %br
        todos los niveles de gobierno del país.
      %p.center-text
        %a
          Conoce más sobre la Red

%div.separador-verde

%div.row
  %div.container
    %div.col-md-12
      %h3.text-center
        ¿Qué está pasando?
      %p.text-center
        Red México Abierto está compuesta por funcionarios de los
        gobiernos de municipios, estados, el Distrito Federal
        y sus delegaciones.

%div.row
  %div.container
    %div.col-md-12
      %h3.text-center
        Miembros
      %p.text-center
        Red México Abierto está compuesta por funcionarios de los
        gobiernos de municipios, estados, el Distrito Federal
        y sus delegaciones.
      %p.text-center
        Al formar parte de la Red inicias en un proceso de apertura
        de datos que se describe en la
        %a{href:''}
          Guía de Implementación 
        y que se compone de 4 pasos:

%div.container
  %div.row
    %div.col-md-3
      %h3
        Planea
    %div.col-md-3
      %h3
        Publica
    %div.col-md-3
      %h3
        Perfecciona
    %div.col-md-3
      %h3
        Promueve
  %div.row
    %div.col-md-12
      %a.text-center
        Ver a todos los miembros
      %p.text-center
        ¿Te gustaría formar parte de la Red México Abierto?
      %button.btn.btn-lg.btn-success.text-center
        ¡Únete!
