= content_for :page_title, 'Red México Abierto: Inicio'
%div.inicio
  %div.container
    %div.col-md-8.col-md-offset-2
      %h3.center-text
        La Red México Abierto impulsa la colaboración nacional para
        compartir herramientas y experiencias que faciliten la publicación
        y uso de Datos en todos los niveles de gobierno del país.
      %p.center-text
        %a
          Conoce más sobre la Red

%div.separador-verde

%div.row
  %div.container
    %div.col-md-12
      %h1
        ¿Qué está pasando?
      %p
        Red México Abierto está compuesta por funcionarios de los
        gobiernos de municipios, estados, el Distrito Federal
        y sus delegaciones.

%div.row
  %div.container
    %div.col-md-12
      %h1
        Miembros
      %p
        Red México Abierto está compuesta por funcionarios de los
        gobiernos de municipios, estados, el Distrito Federal
        y sus delegaciones.
      %p
        Al formar parte de la Red inicias en un proceso de apertura
        de datos que se describe en la
        %a{href:''}
          Guía de Implementación 
        y que se compone de 4 pasos:

%div.container
  %div.row
    %div.col-md-3
      %h3
        Planea
    %div.col-md-3
      %h3
        Publica
    %div.col-md-3
      %h3
        Perfecciona
    %div.col-md-3
      %h3
        Promueve
  %div.row
    %div.col-md-12
      %a
        Ver a todos los miembros
      %p
        ¿Te gustaría formar parte de la Red México Abierto?
      %a.btn.btn-lg
        ¡Únete!
