= content_for :page_title, 'Red México Abierto: Inicio'
%div.inicio
  %div.overlay-photo
  %div.container#actualizaciones
    =# link_to 'Recibe actualizaciones','#'
  = render 'layouts/header'
  %div.container.texto-inicio
    %div.col-md-12
      %h3.tag-line
        La Red México Abierto impulsa la colaboración nacional para compartir
        herramientas y experiencias que faciliten la publicación
        y uso de Datos en
        todos los niveles de gobierno del país.
      %p.center-text
        %div
          = image_tag("play.png", {class:'img-responsive center-block image-button'})
        %a
          Conoce más sobre la Red

%div.separador-verde

%div.row.section
  %div.container
    %div.col-md-12
      %h3.text-center.section-title
        ¿Qué está pasando?
      %p.text-center
        Red México Abierto está compuesta por funcionarios de los
        gobiernos de municipios, estados, el Distrito Federal
        y sus delegaciones.

%div.row.section
  %div.container
    %div.col-md-12
      %h3.text-center.section-title
        Miembros
      %div.col-md-6.col-md-offset-3
        %p.text-center
          Red México Abierto está compuesta por funcionarios de los
          gobiernos de municipios, estados, el Distrito Federal
          y sus delegaciones.
        %p.text-center
          Al formar parte de la Red inicias en un proceso de apertura
          de datos que se describe en la
          %a{href:''}
            Guía de Implementación 
          y que se compone de 4 pasos:

%div.container.section
  %div.row
    %div.col-md-3
      %h3
        Planea
      %div.planea
        %ul
          %li
            
          %li
            Torreón, Coah.
      %div.planea
        %ul
          %li
            
          %li
            Torreón, Coah.
      %div.planea
        %ul
          %li
            
          %li
            Guadalajara, Jal.
    %div.col-md-3
      %h3
        Publica
      %div.planea
        %ul
          %li
            
          %li
            Torreón, Coah.
      %div.planea
        %ul
          %li
            
          %li
            Torreón, Coah.
      %div.planea
        %ul
          %li
            
          %li
            Guadalajara, Jal.
    %div.col-md-3
      %h3
        Perfecciona
      %div.planea
        %ul
          %li
            
          %li
            Torreón, Coah.
      %div.planea
        %ul
          %li
            
          %li
            Torreón, Coah.
      %div.planea
        %ul
          %li
            
          %li
            Guadalajara, Jal.
    %div.col-md-3
      %h3
        Promueve
      %div.planea
        %ul
          %li
            
          %li
            Torreón, Coah.
      %div.planea
        %ul
          %li
            
          %li
            Torreón, Coah.
      %div.planea
        %ul
          %li
            
          %li
            Guadalajara, Jal.
  %div.row
    %div.col-md-12
      %p.text-center
        %a
          Ver a todos los miembros
      %p.text-center
        ¿Te gustaría formar parte de la Red México Abierto?
      %button.btn.btn-lg.btn-success.center-block
        ¡Únete!


%div.row.section
  %div.container
    %div.col-md-12
      %h3.text-center.section-title
        Herramientas
      %p.text-center
        Los miembros de la Red México Abierto cuentan
        con una caja de herramientas para abrir sus datos:
    %div.col-md-4
      %div.herramienta
        %ul
          %li
          %li
            %h3
              Datatrón
          %li
            Priorización de temas
      %div.herramienta
        %ul
          %li
          %li
            %h3
              Adela
          %li
            Crea tu plan de apertura e
            inventario de datos

    %div.col-md-4
      %div.herramienta
        %ul
          %li
          %li
            %h3
              Refinadora
          %li
            Estandariza y valida datasets
      %div.herramienta
        %ul
          %li
          %li
            %h3
              Nube de Datos
          %li
            Sube tus datos a la nube
    %div.col-md-4
      %div.herramienta
        %ul
          %li
          %li
            %h3
              Publisher
          %li
            Publica en un portal de datos abiertos
      %div.herramienta
        %ul
          %li
          %li
            %h3
              Templates
          %li
            Promueve y socializa tus datos
    %div.col-md-12
      %p.text-center
        %a
          Ver todas las herramientas
    %div.col-md-12
      %div.col-md-5.col-md-offset-1
        %h3
          Recursos Institucionales
        %ul
          %li
            Decreto para la regulación de datos abiertos
          %li
            Lineamientos para la liberación de datos
            abiertos
          %li
            Acuerdo para la liberación y acceso de datos
            abiertos
      %div.col-md-5
        %h3
          Planeación
        %ul
          %li
            Oficio de designación del enlace y el administrador
          %li
            Inventario general de datos
          %li
            Modelo Plan de Apertura
          %li
            Infraestructura Estratégica de Datos Abiertos
%div.row.section
  %div.container
    %div.col-md-12
      %h3.text-center.section-title
        Experiencias
    %div.col-md-6
      %p
        %h3
          Título del post
        %h4.italicas
          Gerardo Pérez - Unidad Gobierno Digital
          %br
          Marzo 18, 2015
        %p
          Gouda cottage cheese say cheese. Port-salut red leicester lancashire mozzarella cheese triangles cheese strings brie croque monsieur. Parmesan chalk and cheese cheese and wine mozzarella the big cheese lancashire hard cheese emmental. Pecorino cheese strings edam caerphilly fromage cottage cheese cheesy feet cheese slices. Fondue.
    %div.col-md-6
      %p
        %h3
          Título del post
        %h4.italicas
          Andrea Barenque - Dirección de Gobierno Abierto
          %br
          Marzo 24, 2015
        %p
          Gouda cottage cheese say cheese. Port-salut red leicester lancashire mozzarella cheese triangles cheese strings brie croque monsieur. Parmesan chalk and cheese cheese and wine mozzarella the big cheese lancashire hard cheese emmental. Pecorino cheese strings edam caerphilly fromage cottage cheese cheesy feet cheese slices. Fondue.
%div.row.section
  %div.container
    %div.col-md-12
      %h3.text-center.section-title
        Conversaciones Abiertas
    %div.col-md-12
      %table.table.table-bordered
        %tbody
          %tr
            %td ¿Cómo implementar Adela con múltiples entidades?
            %td Martha Ramos O.
            %td San Luis Potosí
          %tr
            %td Lanzando nuestro primer datatón
            %td Linda García
            %td Torreón, Coah.
          %tr
            %td ¿Quién ha sido su campeón local hasta el momento?
            %td José Ruíz Pérez
            %td San Pedro, N.L.
          %tr
            %td Lanzando nuestro primer datatón
            %td Armando Garza
            %td Jalisco
          %tr
            %td ¿Quién ha sido su campeón local hasta el momento?
            %td Luis Sánchez
            %td Sonora
%div.row.section.azulado
  %div.container
    %div.col-md-12
      %p
      %form.form-inline
        .form-group
          %label{:for => "exampleInputEmail2"}
            ¿Quiéres saber más sobre la Red México Abierto?
          %input#exampleInputEmail2.form-control{:placeholder => "Correo electrónico", :type => "email"}
        %button.btn.btn-default.btn-success{:type => "submit"} Send invitation

%div.separador-verde
