= content_for :page_title, 'Red México Abierto: Inicio'
%div.inicio
  %h3.center-text
    La Red México Abierto impulsa la colaboración nacional para
    compartir herramientas y experiencias que faciliten la publicación
    y uso de Datos en todos los niveles de gobierno del país.
  %p
    %a
      Conoce más sobre la Red
