- if steps.any?
  - steps.each do |step|
    %h3= step.name
    = render 'activities_listing', stage: step.stage, activities: step.activities
- else
  .jumbotron.text-center{ style: 'margin-top: 15px;' }
    %p= t('.no_steps')
