- if steps.any?
  - steps.each do |step|
    %h3= step.name
    = render 'activities_listing', stage: step.stage, activities: step.activities
- else
  .jumbotron.text-center.slight-top-margin
    %p= t('.no_steps')
