.row
  .col-sm-10
    %p Etapas
  .col-sm-2
    = link_to t('.new_stage_link'), new_stage_path, class: 'btn btn-primary pull-right'
%table.table.table-hover
  %thead
    %tr
      %th #
      %th=t('.stage_name')
      %th=t('.step_count')
  %tbody
    %tr
      %td 1
      %td Primer ejemplo
      %td 5
