/* Colors of the template */
$verde-mx: #00d8a2;
$verde-mx-hover: #00cc99;
$verde-mx-sombra:#00b88a;
$azul-mx: #304660;
$rojo-mx: #ff7869;
$amarillo-mx: #fccb2f;
$gris-mx: #cbd0d7;
$gris-font: #919191;
$gris-fondo: #f2f2f2;
$gris-borde: #eae9e9;
$gris-contextual: #d8d8d8;
$azul-claro-mx: #50D0E8;
$morado-mx: #825DA4;
$blanco: #fff;
$verde-claro-mx: #9BD065;

// google material design colors
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;

// navbar colors
$navbar_links_default: #FAFAFA;
$navbar_links_hover: #00D8A2;


/*New color assignments for template*/
$gray-light:$gris-font;
$btn-default-bg: #fff;
$btn-primary-bg: lighten($azul-mx, 0.2);
$btn-success-bg: $verde-mx;
$btn-success-border: darken($verde-mx, 0.2);
$btn-info-bg: lighten($azul-mx, 0.7);
$btn-warning-bg: $amarillo-mx;
$btn-danger-bg: $rojo-mx;
$input-color-placeholder: $gris-contextual;
$input-height-large: 60px;
$navbar-inverse-bg: $azul-mx;
$navbar-inverse-border: transparent;
$navbar-inverse-link-active-bg: transparent;
$colores-tematicas: (
    (seguridad, $rojo-mx),
    (transporte, $amarillo-mx),
    (salud, $azul-claro-mx),
    (educacion, $morado-mx),
    (economia, $verde-claro-mx)
);


// admin colors
$default_admin_text_color: white;
$default_admin_background_color: black;
