/* imports */
@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400,700);

/* Sections of the template */
body {
  padding-top: 60px;
  font-size:16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:$gris-font;
  h1,h2,h3,h4,h5 {
    color: $azul-mx;
  }
  a{
    color: $verde-mx;
  }
  a:hover{
    color: $verde-mx-sombra;
  }
  .btn-lg{
    min-height: 50px;
    min-width: 60px;
    padding: 14px 16px;
    font-size: 16px;
  }
  .btn-success{
    box-shadow: 0 0 0 0px rgba(251, 218, 88, 0) inset, 0 0 0 0px rgba(255, 255, 255, 0.15) inset, 0 6px 0 0px rgba(0, 0, 0, 0.2), 0 6px 0 0 darken($btn-success-bg, 0.6);
  }
  button{
    input{
      background-color: transparent;
      border: none;
    }
  }
}


@mixin circulos-temas($class, $color){
  .#{$class}{
    color: #{$color};
  }
}

@each $class, $color in $colores-tematicas {
  @include circulos-temas($class, $color);
}

.section, .section-mini{
  padding: 50px 0;
  h1,h2,h3{
    font-weight: 700;
  }
  .section-title{
    text-transform: uppercase;
    padding: 30px 0;
  }
}

.section-mini{
  padding: 25px 0;
}

.italicas{
  font-style: italic;
}

.azulado{
  color: #FFF;
  background-color: $azul-mx !important;
}

.admin-background{
  color: $default_admin_text_color;
  background-color: $default_admin_background_color !important;
}


.no-padding-top {
  padding-top: 0;
}
.navbar{
  padding:25px 0;
  background-color:transparent;
  border: 0px solid transparent;
}


/******** Secciones ********/
.inicio{
  h1,h2,h3{
    color:#fff;
    font-weight: 400;
    line-height: 1.52em;
  }
  height: 600px;
  width: 100%;
  padding: 0px 0;
  margin-top: -60px;
  background-color:darken(#000033,0.99);
  position: relative;
  text-align: center;
  a {
    color:#fff;
  }
  .overlay-photo{
    position: absolute;
    width: 100%;
    height:720px;
    background-image:url(image_path('blog.png'));
    background-position: center center;
    background-size:cover;
    z-index:0;
    opacity: 0.7;
    margin-top:-120px;
  }
  .actualizaciones{
    height: 45px;
    position: relative;
    z-index:1;
    text-align: right;
    .btn{
      position: relative;
      right: 1%;
      border-top-left-radius:0;
      border-top-right-radius:0;
    }
  }
  .texto-inicio{
    margin-top: 5%;
    h3{
      letter-spacing: 1px;
    }
    .tag-line{
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
    }

  }
  .image-button{
    padding: 10px;
    margin-top: 80px;
  }
}

@mixin card{
  list-style: none;
  padding: 30px 50px;
  border: 2px solid $gris-borde;
  min-height: 100px;
  border-radius: 6px;
  .context-info, .hora{
    color:$gris-contextual;
  }
}

.card{
  @include card;
}
.card-experiencias{
  @extend .card;
  min-height: 200px;
  max-width:325px;
  margin: 18px 18px;
  padding: 30px 25px;
  font-size: 14px;
  .context-info, .fa{
    position: absolute;
    right: 25px;
    bottom: 25px;
  }
  .context-info{
    right: 45px;
    bottom: 22px;
  }
}

.card-reciente{
  @extend .card;
  min-height: 140px;
  margin-top:54px;
  .avatar {
    width:15%;
    float:left;
    img{
      max-width: 72px;
    }
  }
  .estado{
    width: 85%;
    float:left;
  }
}
.card-miembros{
  @extend .card-reciente;
  min-height: 100px;
}

.etapa{
  h3{
    margin-bottom:30px;
  }
  .glyphicon{
    color: $gris-contextual;
    font-size:0.8em;
  }
  .card-reciente{
    margin: 20px;
    height:100px;
    padding: 18px;
    position: relative;
  }
  .avatar {
    width:35%;
    float:left;
    img{
      max-width: 60px;
    }
  }
  .estado{
    left: 40%;
    float: left;
    top: 40%;
    position: absolute;
  }

}

.herramienta{
  ul{
    list-style: none;
  }
  .avatar {
    width:26%;
    float:left;
    img{
      max-width: 60px;
      margin:5px;
    }
  }
}

.herramientas{
  .imagen-herramienta{
    float: left;
  }
  .titulo-herramienta{
    float: left;
    left: 2%;
    position: relative;
  }
  .lista-herramienta{
    margin-top: 2em;
    line-height: 1.8em;
    margin-left: -20px;
  }
}

/****************radio button****************/
input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 0px 0px $gris-font inset;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px $gris-font inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}

input[type='radio']:checked:before {
  background: $verde-mx;
}

.section-mini{
  padding: 25px 0;
}

.italicas{
  font-style: italic;
}

.azulado{
  color: $blanco;
  background-color: $azul-mx;
}

.experiencias{
  img{
    margin-top: 20px;
    max-width: 145px;
    padding: 0;
  }
  a{
    font-style: underline;
  }
}

.newsletter{
  min-height: 80px;
  padding: 60px 0;
  label{
    font-weight: 300;
  }
  .input-group .form-control:last-child{
    border-radius: 6px;
    width:390px;
  }
  button{
    font-size: 25px;
    margin-left: 10px;
  }
}

.separador-verde{
  background-color: $verde-mx;
  height: 22px;
}

/*******************footer*******************/
.branding{
  padding-top: 50px;
  background-color: $gris-fondo;
}

.texto-padding-top-down{
  padding-top: 10px;
  padding-bottom: 10px;
  color: $gris-font;
}
.icons-padding-footer{
  padding-bottom: 50px;
}
.border-between > [class*='col-']:before {
 background: #e3e3e3;
 bottom: 0;
 content: " ";
 left: 0;
 position: absolute;
 width: 1px;
 top: 0;
}
.border-between > [class*='col-']:first-child:before {
 display: none;
}

.fa-envelope:hover {
    color: $verde-mx-hover !important;
}
.fa-twitter:hover {
    color: $verde-mx-hover !important;
}
/*************************a-green******************/
.a-green{
  color: $gris-font !important;
  cursor: pointer;
  width:100%;
  a{color: $gris-font !important;}
}

.a-green:link {
  color: $gris-font !important;
}

/* visited link */
.a-green:visited {
  color: $gris-font !important;
}

/* mouse over link */
.a-green:hover {
  color: $verde-mx-hover !important;
  text-decoration:none;
}

/* selected link */
.a-green:active {
  color: $gris-font !important;
}

/*********************New Users*******************/
.form-control {
  display: block;
  width: 100%;
  height: 44px;
  padding: 6px 24px;
  font-size: 1em;
  line-height: 1.42857143;
  color: $gris-font;
  background-color: white;
  background-image: none;
  border: 1px solid $gris-borde;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control-members {
  display: block;
  width: 100%;
  height: 20px;
  font-size: 14px;
  line-height: 1.42857143;
  color: $gris-font;
  background-color: white;
  background-image: none;
  border: 0px solid $gris-borde;
  border-radius: 4px;
}

.margin-text-field{
  margin-top: 10px;
  margin-bottom: 10 px;
}

.padding-row{
  padding-bottom: 30px;
}

.my-checkbox input {
    display: none;
}

.my-checkbox span {
    width: 20px;
    height: 20px;
    display: block;
    background: url("link_to_image");
}

.my-checkbox input:checked + span {
    background: url("link_to_another_image");
}

.text-red{
   color: $rojo-mx !important;
}
.padding-radio-title{
  margin-top: 3px;
  font-weight: 700;
}
.padding-radio-button{
  vertical-align: middle;
  margin-bottom: 12px;
  font-weight: 500;
}

/********************miembros***************/
.top30 { margin-top:30px; }

.card-miembros-detalle{
  @extend .card-miembros;
  text-align:center;
  min-height: 250px;
  max-width: 250px;
  padding: 30px;
  p{
    margin: 0;
  }
  ul{
    list-style: none;
    padding: 0;
  }
  hr{
    width: 75%;
  }
  .avatar{
    width: 100%;
    float:none;
    img{
    }
  }
  .nivel-gobierno{
    width:100%;
    text-align:center;
    color: $azul-mx;
    font-weight:700;
  }
  .herramientas-titulo{
    width:100%;
    color: $gris-font;
    font-size: 0.9em;
    font-weight:500;
  }
  .herramientas{
    width: 100%;
    font-size: 0.7em;
    img{ 
      max-width:20px;
      max-height: 20px;
      margin: 5px 0;
      margin-left:auto;
      margin-right:auto;

    }
    li{
      padding: 12px 8px;
      height: 70px;
      float:left;
      text-align: center;
    }
    .datatron{
      width:33%;
    }
    .adela{
      width:33%;
    }
    .nube{
      width:33%;
    }
  }
  .datasets{
    color: $gris-font;
  }
}
