/* Colors of the template */
$verde-mx: #00d8a2;
$verde-mx-hover: #00cc99;
$verde-mx-sombra:#00b88a;
$azul-mx: #304660;
$rojo-mx: #ff7869;
$amarillo-mx: #fccb2f;
$gris-mx: #cbd0d7;
$gris-font: #919191;
$gris-fondo: #f2f2f2;
$gris-borde: #eae9e9;
$gris-contextual: #d8d8d8;
$blanco: #fff;


/*New color assignments for template*/
$gray-light:$gris-font;
$btn-default-bg: #fff;
$btn-primary-bg: lighten($azul-mx, 0.2);
$btn-success-bg: $verde-mx;
$btn-info-bg: lighten($azul-mx, 0.7);
$btn-warning-bg: $amarillo-mx;
$btn-danger-bg: $rojo-mx;
$navbar-inverse-bg: $azul-mx;
$navbar-inverse-border: transparent;
$navbar-inverse-link-active-bg: transparent;

/* imports */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400,700);


/* Sections of the template */
body {
  padding-top: 60px;
  font-size:16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:$gris-font;
  h1,h2,h3,h4{
    color: $azul-mx;
  }
  a{
    color: $verde-mx;
  }
  a:hover{
    color: $verde-mx-sombra;
  }
}
.navbar{
  padding:25px 0;
  background-color:transparent;
}
.inicio{
  h1,h2,h3{
    color:#fff;
    font-weight: 400;
    line-height: 1.52em;
  }
  height: 600px;
  width: 100%;
  padding: 0px 0;
  margin-top: -60px;
  background-color:darken(#000033,0.99);
  position: relative;
  text-align: center;
  a {
    color:#fff;
  }
  .overlay-photo{
    position: absolute;
    width: 100%;
    height:720px;
    background-image:url(image_path('blog.png'));
    background-position: center center;
    background-size:cover;
    z-index:0;
    opacity: 0.7;
    margin-top:-120px;
  }
  #actualizaciones{
    height:100px;
    position: relative;
    z-index:1;
    margin-top:-150px;
    float:right;
  }
  .texto-inicio{
    margin-top: 5%;
    h3{
      letter-spacing: 1px;
    }
    .tag-line{
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
    }

  }
  .image-button{
    padding: 10px;
    margin-top: 80px;
  }
}

.card-reciente{
  margin-top:54px;
  list-style: none;
  padding: 30px 50px;
  border: 2px solid $gris-borde;
  border-radius: 6px;
  .avatar {
    width:15%;
    float:left;
    img{
      max-width: 72px;
    }
  }
  .estado{
    width: 85%;
    float:left;
  }
  .hora{
    color:$gris-contextual;
  }
}

.etapa{
  h3{
    margin-bottom:30px;
  }
  .glyphicon{
    color: $gris-contextual;
    font-size:0.8em;
  }
  .card-reciente{
    margin: 20px;
    height:100px;
    padding: 18px;
    position: relative;
  }
  .avatar {
    width:35%;
    float:left;
    img{
      max-width: 60px;
    }
  }
  .estado{
    left: 40%;
    float: left;
    top: 40%;
    position: absolute;
  }

}

.herramienta{
  ul{
    list-style: none;
  }
  .avatar {
    width:26%;
    float:left;
    img{
      max-width: 60px;
      margin:5px;
    }
  }
}


.separador-verde{
  background-color: $verde-mx;
  height: 22px;
}
.section, .section-mini{
  padding: 50px 0;
  h1,h2,h3{
    font-weight: 700;
  }
  .section-title{
    text-transform: uppercase;
    padding: 30px 0;
  }
}

/****************radio button****************/
input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 0px 0px $gris-font inset;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px $gris-font inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;    
}

input[type='radio']:checked:before {
  background: $verde-mx;
}

.section-mini{
  padding: 25px 0;
}

.italicas{
  font-style: italic;
}

.azulado{
  color: $blanco;
  background-color: $azul-mx;
}
/*******************footer*******************/
.branding{
  padding-top: 50px;
  background-color: $gris-fondo;
}

.texto-padding-top-down{
  padding-top: 10px;
  padding-bottom: 10px;
  color: $gris-font;
}

.border-between > [class*='col-']:before {
 background: #e3e3e3;
 bottom: 0;
 content: " ";
 left: 0;
 position: absolute;
 width: 1px;
 top: 0;
}
.border-between > [class*='col-']:first-child:before {
 display: none;
}

.fa-envelope:hover {
    color: $verde-mx-hover !important;
}
.fa-twitter:hover {
    color: $verde-mx-hover !important;
}
/*************************a-green******************/
.a-green{
  color: $gris-font !important;
  cursor: pointer;
  width:100%;
  a{color: $gris-font !important;}
}

.a-green:link {
  color: $gris-font !important;
}

/* visited link */
.a-green:visited {
  color: $gris-font !important;
}

/* mouse over link */
.a-green:hover {
  color: $verde-mx-hover !important;
  text-decoration:none;  
}

/* selected link */
.a-green:active {
  color: $gris-font !important;
}

/*********************New Users*******************/
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: $gris-font;
  background-color: white;
  background-image: none;
  border: 1px solid $gris-borde;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.margin-text-field{
  margin-top: 10px;
  margin-bottom: 10 px;
}

.padding-row{
  padding-bottom: 30px;
}

.my-checkbox input {
    display: none;
}

.my-checkbox span {
    width: 20px;
    height: 20px;
    display: block;
    background: url("link_to_image");
}

.my-checkbox input:checked + span {
    background: url("link_to_another_image");
}

.text-red{
   color: $rojo-mx !important;
}