@import 'variables';

@mixin active_stage_background() {
  color: white;
  background-color: $verde-mx;
}

#stage-wrapper {
  height: 60px;
  a {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    color: $grey-500;
    background-color: $grey-100;

    &:hover {
      @include active_stage_background();
    }

    &.active{
      @include active_stage_background();
    }
  }
}

#step-wrapper {
  height: 60px;
  a {
    border: 0;
    color: $grey-500;
    background-color: none;
    border-radius: 50%;

    &:hover {
      @include active_stage_background();
    }

    &.active{
      @include active_stage_background();
    }
  }
}

.checkbox-container {
  padding: 15px;
  border-radius: 5px;
}

.done {
  background-color: $grey-100;
}
