%p
  Hola
  = "#{@resource.full_name || @resource.email},"

%p
  Alguien ha solicitado un link para cambiar tu contraseña. Puedes hacerlo a través de la siguiente
  = link_to 'liga.', edit_password_url(@resource, reset_password_token: @token), target: '_blank'

%p Si tú no has solicitado esto, por favor ignora este correo. Tu contraseña no cambiará a menos que accedas a la liga y crees una nueva.
