%footer.branding
  %div.container
    %div.row
      %div.col-xs-6.col-sm-4.text-center
        %p.texto-padding
          Planea
      %div.col-xs-6.col-sm-4
        %p.texto-padding
          Planea
      %div.col-xs-6.col-sm-4.text-bottom
        %div.row
          %div.col-xs-8.col-sm-6.text-right
            %i.fa.fa-twitter
          %div.col-xs-4.col-sm-6.text-left
            %p.texto-padding  
              algo
    %div.row
      %div.col-xs-6.col-sm-4.text-center
        %p.texto-padding
          Planea
      %div.col-xs-6.col-sm-4
        %p.texto-padding
          Planea
    %div.row
      %div.col-xs-6.col-sm-4.text-center
        %p.texto-padding
          Planea
      %div.col-xs-6.col-sm-4
        %p.texto-padding
          Planea      
    %div.row
      %div.col-xs-6.col-sm-4.text-center
        %p.texto-padding
          Planea
      %div.col-xs-6.col-sm-4
        %p.texto-padding
          Planea
    %div.row
      %div.col-xs-6.col-sm-4.text-center
        %p.texto-padding
          Planea
      %div.col-xs-6.col-sm-4
        %p.texto-padding
          Planea      
    %div.row
      %div.col-xs-6.col-sm-4.text-center
        %p.texto-padding
      %div.col-xs-6.col-sm-4
        %p.texto-padding
          Planea      
%footer