%footer.branding
  %div.container
    %div.row.border-between
      %div.col-xs-4.col-sm-2.text-center
        %p.texto-padding
          Planea
      %div.col-xs-8.col-sm-6
        %p.texto-padding
          Planea
      %div.col-xs-6.col-sm-4.text-bottom
        %div.row
          %div.col-xs-8.col-sm-6.text-right
            %i.fa.fa-envelope
          %div.col-xs-4.col-sm-6.text-left
            %i.fa.fa-twitter 
    %div.row.border-between
      %div.col-xs-4.col-sm-2.text-center
        %p.texto-padding
          Planea
      %div.col-xs-8.col-sm-6
        %p.texto-padding
          Planea
    %div.row.border-between
      %div.col-xs-4.col-sm-2.text-center
        %p.texto-padding
          Planea
      %div.col-xs-8.col-sm-6
        %p.texto-padding
          Planea      
    %div.row.border-between
      %div.col-xs-4.col-sm-2.text-center
        %p.texto-padding
          Planea
      %div.col-xs-8.col-sm-6
        %p.texto-padding
          Planea
    %div.row.border-between
      %div.col-xs-4.col-sm-2.text-center
        %p.texto-padding
          Planea
      %div.col-xs-8.col-sm-6
        %p.texto-padding
          Planea      
    %div.row.border-between
      %div.col-xs-4.col-sm-2.text-center
        %p.texto-padding
      %div.col-xs-8.col-sm-6
        %p.texto-padding
          Planea
%footer